.color-1 {
	color: #d2b4de;
}

.color-2 {
	color: #DAF7A6;
}

.color-3 {
	color: #FFC300;
}

.color-4 {
	color: #FF5733;
}

.color-5 {
	color: #C70039;
}

.color-6 {
	color: #900C3F;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	/* 	font-weight: 300; */
	/* 	color: #777; */
	/* 	background: #f0eeef; */
	/* 	background: -moz-linear-gradient(-45deg, #f0eeef 0%, #e1e1e2 51%, #d6d7d9 100%); */
	/* 	background: -webkit-linear-gradient(-45deg, #f0eeef 0%, #e1e1e2 51%, #d6d7d9 100%); */
	/* 	background: linear-gradient(135deg, #f0eeef 0%, #e1e1e2 51%, #d6d7d9 100%); */
	/* 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0eeef', */
	/* 		endColorstr='#d6d7d9', GradientType=1); */
	/* 	overflow-x: hidden; */
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	text-align: left;
	font-family: "Roboto", sans-serif;
	font-size: 21px;
}

caption {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 23px;
	font-weight: bold;
	color: #336699;
}

.tableCaption {
	font-family: "Roboto", sans-serif;
	font-size: 27px;
	font-weight: bold;
	color: #f06292;
	text-align: center;
}

.dateCaptions {
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #9575cd;
	text-align: center;
}

.launcherNameCaptions {
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	color: #9575cd;
	text-align: left;
}